body {
	background-color: #EFF0F1;
	font-family: 'Raleway', sans-serif;
	width:80%;
	margin-right: auto;
	margin-left: auto;
}
body.rustyBoyz{
	background-image: url("../images/IMG_1190.gif");
}
i{
	font-size: 2rem;
}
.imageText i{ 
	font-size: 10rem; 
	color:white;
}

.indexMain {
  display: grid;
  grid-template-columns:1fr 2fr 2fr;
  column-gap:2rem;
 }
 .projectsMain {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  column-gap: 2rem;
  grid-row-gap:2rem;
 }
 
 .contactMain{
 	background-color: white;
 	height:2rem;
 }
 .contactMain h1{
 	display:none;
 }
 .skills{
 	background-color:white;
 	padding:.5rem 1rem .5rem 1rem;
 	box-shadow: 3px 3px 10px .1px #888888;

 }
 .even{
 	background-color:#F7F7F7;
 	padding:.5rem 1rem .5rem 1rem;
 	box-shadow: 3px 3px 10px .1px #888888;
 	margin: 1rem 0 1rem 0;
 	
 }
 .odd{
 	background-color:white;
 	padding:.5rem 1rem .5rem 1rem;
 	box-shadow: 3px 3px 10px .1px #888888;
 	margin: 1rem 0 1rem 0;
 }
ul{
 	list-style: none;
 	padding-left: 0;
 }
.topImage {
	position:relative;
    text-align: center;
    color: black;
    margin-top: 3rem;
    background-color:black;
}
.testimonialImage img{
	float:left;
	width:10vw;
	border-radius: 10vw;
	margin-right: 2vw;
}

/* Bottom left text */
.imageText{
	position: absolute;
    top: 5rem;
    left: .5rem;
    text-shadow: 2px 2px 4px #000000;
}
.imageText i{
	position:relative;
    top: 5rem;
    right: .5rem;
    text-shadow: 2px 2px 4px #000000;
}
.imageText h1 {
	color:white;
	font-size:4rem;
}
img {
	width: 100%;
}
header {
	background-color:gray;
}
nav ul {
    display: inline-block;
    align-items: stretch; 
    justify-content: space-between;
    width: 80%;
    margin: 0;
    padding:0;
    position:fixed;
    z-index:1;
    
}
nav li {
	display: inline-block;
	text-decoration: none;
    margin:0;
    
}

a {
	text-decoration: none;
	color:black;
}
a:visited {
	color:black;
}

nav a {
	text-align:center;
    padding:2vw 1vw;
    margin:0; 
    display:inline-block;
	color:black;
	font-size: 3em;
	background-color:#EFF0F1;
	box-shadow: 3px 3px 10px .1px #888888;
	/*border-radius: 8px;*/
} 

.current {
	background-color: white;
}
a.current {
	color:black;
}

a:hover{
	background-color: white;
}
footer{
	background-color: white;
}


