The reset styles given here are intentionally very generic. There isn't any default color or background set for the body element, for example. I don't particularly recommend that you just use this in its unaltered state in your own projects. It should be tweaked, edited, extended, and otherwise tuned to match your specific reset baseline. Fill in your preferred colors for the page, links, and so on.

In other words, this is a starting point, not a self-contained black box of no-touchiness.

If you want to use my reset styles, then feel free! It's all explicitly in the public domain (I have to formally say that or else people ask me about licensing). You can grab a copy of the file to use and tweak as fits you best. If you're more of the copy-and-paste type, or just want an in-page preview of what you'll be getting, here it is.

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background-color: #EFF0F1;
	font-family: 'Raleway', sans-serif;
	width:80%;
	margin-right: auto;
	margin-left: auto;
}
body.rustyBoyz{
	background-image: url("../images/IMG_1190.gif");
}
i{
	font-size: 2rem;
}
.imageText i{ 
	font-size: 10rem; 
	color:white;
}

.indexMain {
  display: grid;
  grid-template-columns:1fr;
  column-gap:2rem;
 }
 .projectsMain {
  display: grid;
  grid-template-columns:1fr;
  column-gap: 2rem;
 }
 
 .contactMain{
 	background-color: white;
 	height:2rem;
 }
 .contactMain h1{
 	display:none;
 }
 .skills{
 	background-color:white;
 	padding:.5rem 1rem .5rem 1rem;
 	box-shadow: 3px 3px 10px .1px #888888;

 }
 .even{
 	background-color:#F7F7F7;
 	padding:.5rem 1rem .5rem 1rem;
 	box-shadow: 3px 3px 10px .1px #888888;
 	margin: 1rem 0 1rem 0;
 	
 }
 .odd{
 	background-color:white;
 	padding:.5rem 1rem .5rem 1rem;
 	box-shadow: 3px 3px 10px .1px #888888;
 	margin: 1rem 0 1rem 0;
 }
ul{
 	list-style: none;
 	padding-left: 0;
 }
.topImage {
	position:relative;
    text-align: right;
    color: black;
    margin-top: 3rem;
    background-color:black;
}
.testimonialImage img{
	float:left;
	width:10vw;
	border-radius: 10vw;
	margin-right: 2vw;
}

/* Bottom left text */
.imageText{
	position: absolute;
    top: .5rem;
    left: .5rem;
    text-shadow: 2px 2px 4px #000000;
}

.imageText h1 {
	color:white;
	font-size:3rem;
}
img {
	width: 100%;
}
header {
	background-color:gray;
}
nav ul {
    display: block;  
    width: 100%;
    margin: 0;
    padding:0;
    text-align:right;
    z-index:1;
    
}
nav li {
	display: block;
	text-decoration: none;
    margin:0;    
}

a {
	text-decoration: none;
	color:black;
}
a:visited {
	color:black;
}
nav {
	background-color: #EFF0F1;
}
nav a {
	text-align:center;
    padding:2vw 1vw;
    margin:0; 
    display:inline-block;
	color:black;
	font-size: 2em;
	background-color:#EFF0F1;
	box-shadow: 3px 3px 10px .1px #888888;
	/*border-radius: 8px;*/
} 

.current {
	background-color: white;
}
a.current {
	color:black;
}

a:hover{
	background-color: white;
}
footer{
	background-color: white;
}
@media only screen and (min-width: 800px){
	
	.indexMain {
		display: grid;
		grid-template-columns:3fr 1fr;
		grid-template-rows:1fr 1fr;
		column-gap:2rem;
 	}
 	.projectsMain {
		display: grid;
		grid-template-columns:1fr;
		grid-row-gap:1rem;
	}
 	.imageText{
		position: absolute;
	    top: 5rem;
	    left: .5rem;
	    text-shadow: 2px 2px 4px #000000;
	}
	.imageText h1 {
		color:white;
		font-size:4rem;
	}
	.indexColA{
		grid-column-start: 1; 
		grid-column-end: 3; 
		grid-row-start: 2; 
		grid-row-end: 4;
	}
 	nav ul {
	    display: inline-block;
	    align-items: stretch; 
	    justify-content: space-between;
	    width: 80%;
	    margin: 0;
	    padding:0;
	    position:fixed;
	    z-index:1; 
	    text-align: left;
	}
	nav li {
		display: inline-block;
		text-decoration: none;
	    margin:0;  
	}
	nav a {
		font-size:2rem;
	}
}	
@media only screen and (min-width: 1024px){
	
	.indexMain {
	  display: grid;
	  grid-template-columns:1fr 2fr 2fr;
	  column-gap:2rem;
 	}
 	.projectsMain {
	  display: grid;
	  grid-template-columns:1fr 1fr 1fr;
	  column-gap: 2rem;
	  grid-row-gap:2rem;
	 }
 	.imageText{
		position: absolute;
	    top: 5rem;
	    left: .5rem;
	    text-shadow: 2px 2px 4px #000000;
	}
	.imageText h1 {
		color:white;
		font-size:4rem;
	}
	.indexColA{
		grid-column-start: 1; 
		grid-column-end: 2; 
		grid-row-start: 1; 
		grid-row-end: 2;
	}
 	nav ul {
	    display: inline-block;
	    align-items: stretch; 
	    justify-content: space-between;
	    width: 80%;
	    margin: 0;
	    padding:0;
	    position:fixed;
	    z-index:1; 
	    text-align: left;
	}
	nav li {
		display: inline-block;
		text-decoration: none;
	    margin:0;  
	}
	nav a {
		font-size:3rem;
	}
	
}

